html{
    font-size: 15px;
    font-family: "Anybody", cursive;
    background-color: #8DB8D2;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color: #CDE4F3;
    padding: 0 20px 20px 20px;
    border: 5px solid blackM;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: #333333;
    text-shadow: 3px 3px 1px white;
    font-size: 60px;
    text-align: center;
}
p, li{
    font-size: 18px;
    color: black;
    line-height: 2;
    letter-spacing: 1px;   
}
form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
input,
textarea{
    font: 1em Anybody;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999
}
input:focus,
textarea:focus{
    border-color: #000;
}
textarea{
    vertical-align: top;
    height: 5em;
}
.button{
    padding-left: 90px;
}
button{
    margin-left: .5em;
}